<script setup lang ="ts"> 
import { ref } from 'vue';
import axios from 'axios';
const errorMessage = ref<string>('')
const bodyFat = ref('')
const bodyFatData = ref({
  weight : 0.0, 
  neck : 0.0,
  abdomen : 0.0,
  biceps : 0.0
})
const predictBodyFat = async () => {
  try {
    const response = await axios.post('http://localhost:8000/predict/', bodyFatData.value)

    console.log('Predicted fish weigth:', response.data)
    bodyFat.value = response.data
    errorMessage.value = ''
  } catch (error) {
    console.error('Failed to predict BodyFat weigth:', error)
    bodyFat.value = 'Failed to predict BodyFat weight'
  }
}
</script>
<template>
 <v-container style="background-color: #B0BEC5;" class="my-container h-screen" fluid full-height>
  <v-row align="center" justify="center">
    <v-col cols="auto">
      <v-card
      class="mx-auto mt-5"
          elevation="8"
          width="600"
          height="900"
          rounded="lg"
          color="#ECEFF1"
      >
      <v-card-title  style="font-weight: bold;font-size: 25px;" class="custom-color" >
        BODY FAT CALCULATOR
      </v-card-title>
      <v-card-text>
        <v-row>
          <v-col >
          </v-col>
        </v-row>
        <v-row>
          <v-list-subheader style="font-weight: bold;font-size: 20px;" >Weight :</v-list-subheader>
          <v-col >
            <v-text-field      
            variant="solo"
            v-model="bodyFatData.weight"
            :rules="[
                      (v) => !!v || 'กรุณากรอกข้อมูลน้ำหนัก',
                      
                    ]"
            ></v-text-field>
          </v-col>
          <v-list-subheader style="font-weight: bold;font-size: 20px;">lbs</v-list-subheader>
        </v-row>
        <v-row>
          <v-list-subheader style="font-weight: bold;font-size: 20px;">Neck :</v-list-subheader>
          <v-col  >
            <v-text-field      
            variant="solo"
            v-model="bodyFatData.neck"
            :rules="[
                      (v) => !!v || 'กรุณากรอกเส้นรอบวงคอ',
                    ]"
            ></v-text-field>
          </v-col>
          <v-list-subheader style="font-weight: bold;font-size: 20px;">cm</v-list-subheader>
        </v-row>
        <v-row>
          <v-list-subheader style="font-weight: bold;font-size: 20px;">Abdomen :</v-list-subheader>
          <v-col >
            <v-text-field      
            variant="solo"
            v-model="bodyFatData.abdomen"
            :rules="[
                      (v) => !!v || 'กรุณากรอกเส้นรอบวงท้อง',
                    ]"
            ></v-text-field>
          </v-col>
          <v-list-subheader style="font-weight: bold;font-size: 20px;">cm</v-list-subheader>
        </v-row>
        <v-row>
          <v-list-subheader style="font-weight: bold;font-size: 20px;">Biceps :</v-list-subheader>
          <v-col >
            <v-text-field      
            variant="solo"
            v-model="bodyFatData.biceps"
            :rules="[
                      (v) => !!v || 'กรุณากรอกเส้นรอบวงต้นแขน',
                    ]"
            ></v-text-field>
          </v-col>
          <v-list-subheader style="font-weight: bold;font-size: 18px;">cm</v-list-subheader>
        </v-row>
        <v-row justify="center" style="margin-top: 1px">
          <v-col cols="12" sm="5"> <p style="font-size: 18px;">Weight : น้ำหนัก  </p></v-col>
          <v-col cols="12" sm="5">
            <p style="font-size: 18px;">Abdomen : เส้นรอบวงท้อง </p>
          </v-col>
        </v-row>
        <v-row justify="center" style="margin-top: 1px">
          <v-col cols="12" sm="5"> <p style="font-size: 18px;">Neck : เส้นรอบวงคอ</p></v-col>
          <v-col cols="12" sm="5">
            <p style="font-size: 18px;">Biceps : เส้นรอบวงต้นแขน</p>
          </v-col>
        </v-row>
        <v-row>
            <v-col class="mt-8">
              <v-btn width="100px" height="50px" style="font-weight: bold;font-size: 25px;" rounded="xl" block color="#78909C" @click="predictBodyFat()">CALCULATE</v-btn>
            </v-col>
        </v-row>
        <v-row style="margin-top: 1px">
        <v-col class="mt-10">
          <p class="text-h5 text--primary">
            Your Body Fat is
      {{ bodyFat }}</p>
        </v-col>
      </v-row>
      </v-card-text>
      </v-card>
    </v-col>
    <v-col cols="auto">
      <v-card
      class="mx-auto mt-5"
          elevation="8"
          width="700"
          height="900"
          rounded="lg"
          color="#ECEFF1"
      >
      <v-card-title style="font-weight: bold;font-size: 25px;" class="custom-color">
        ตารางเปอร์เซนต์ไขมันในร่างกาย
      </v-card-title>
          <v-row>
            <v-col>
              <v-table>
                <thead >
              <tr style="font-weight: bold;font-size: 20px;" align="center" justify="center">
                <td>% Fat</td>
                <td>ลำดับ</td>
                <td>คำอธิบาย</td>
              </tr>
            </thead>
                <tbody>
                  <tr align="center" justify="center" style="background-color: #D9D9D9;font-size: 20px;">
                <td>2-5%</td>
                <td>Essential Fat</td>
                <td>มีไขมันค่อนข้างน้อย เท่าที่จำเป็น</td>
              </tr>
              <tr style="font-size: 20px;" align="center" justify="center">
                <td>6-13%</td>
                <td>Athletes</td>
                <td>มีไขมันพอประมาณ (กลุ่มนักกีฬา)</td>
              </tr>
              <tr align="center" justify="center" style="background-color: #D9D9D9;font-size: 20px;">
                <td>14-17%</td>
                <td>Fitness</td>
                <td>มีไขมันพอประมาณ (กลุ่มออกกำลังกายเป็นประจำ)</td>
              </tr>
              <tr style="font-size: 20px;" align="center" justify="center">
                <td>18-25%</td>
                <td>Acceptable</td>
                <td>มีไขมันพอประมาณ อยู่เกณฑ์พอดี (กลุ่มคนทั่วไป)</td>
              </tr>
              <tr align="center" justify="center" style="background-color: #D9D9D9;font-size: 20px;">
                <td>25% +</td>
                <td>Obese</td>
                <td>มีไขมันมากเกินไป ควรลดปริมาณไขมัน</td>
              </tr>
                </tbody>

              </v-table>
                <v-row class="mt-5">
                  <v-img width="500px" height="500px" src="271-2717219_body-fat-icon-png-transparent-png.png"></v-img>
                </v-row>
            </v-col>
          </v-row>
      </v-card>
    </v-col>
  </v-row>
 </v-container>
</template>

<style>
/* @media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
} */
.custom-color {
  background-color: #78909C; /* กำหนดสี HEX */
  color: white; /* ตั้งค่าสีข้อความให้เป็นขาว */
}
</style>
